.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding-top: 6%;
  background-color: #deecd9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 2vmin);
  color: #3d3b0cd1;
}

.container{
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
}

.inputBox{
  display: block;
  padding: 16px;
  border-radius: 4px;
  border-color: none;
  border: none;
  outline: none;
  width: 100%;
  margin-bottom: 32px;
  font-size: calc(4px + 2vmin)
}

.primaryButton{
  display: block;
  padding: 16px;
  width: 100%;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  background-color: #b92144a8;
  border-radius: 4px;
  outline: none;
  border: 1px solid #b92144a8;
  color: white;
  font-size: calc(4px + 2vmin);
  margin-left: 18px;
}

.message{
  margin-top: 6%;
}
